- var phoneCompany = "EE"
- var time = "3:55PM"

doctype html
html
  head
    meta(charset='UTF-8')
    title iPhone Template
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet prefetch', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .container
      .iphone
        .background
        .status-bar
          .left
            ul.signal
              li.dot.filled
              li.dot.filled
              li.dot.filled
              li.dot
              li.dot
            span.wifi-signal.ion-wifi
          .time 9:24AM
          .right
            span.bluetooth.ion-bluetooth
            span.battery-perc 23.5%
            span.battery.ion-battery-low
        .nav-bar
          span.arrow-back.ion-ios-arrow-left
          span.title My Tickets
        .content-wrapper
          .tricket(data-role='life')
            .tricket-header
              .set-circle
                .big-circle.circle-top-left
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .fake-area
                .big-circle.circle-top-right.last
              .tricket-no
                p N0. 29346773820432
            .tricket-banner.life
            .tricket-data
              .movie-name
                span The Secret Life of Walter Mitty
              .movie-block
                p SALON
                p 07
              .movie-block
                p ROW
                p 12
              .movie-block
                p SEAT
                p 23
              .movie-block
                p DATE
                p.fz-sm 18/07/15
              .movie-block
                p TIME
                p.fz-sm  19:20
              .movie-block
                p PRICE
                p.fz-sm  $350
              .clear
            .tricket-footer
              .big-circle.circle-bottom-left
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .fake-area
              .big-circle.circle-bottom-right.last
          .tricket(data-role='hero')
            .tricket-header
              .set-circle
                .big-circle.circle-top-left
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .top-circle
                .fake-area
                .big-circle.circle-top-right.last
              .tricket-no
                p N0. 29346773820432
            .tricket-banner.hero
            .tricket-data
              .movie-name
                span The Secret Life of Walter Mitty
              .movie-block
                p SALON
                p 07
              .movie-block
                p ROW
                p 12
              .movie-block
                p SEAT
                p 23
              .movie-block
                p DATE
                p.fz-sm 18/07/15
              .movie-block
                p TIME
                p.fz-sm  19:20
              .movie-block
                p PRICE
                p.fz-sm  $350
              .clear
            .tricket-footer
              .big-circle.circle-bottom-left
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .bottom-circle
              .fake-area
              .big-circle.circle-bottom-right.last
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src="js/jquery.touchSwipe.min.js")
    script(src='js/index.js')

